<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | New KALA</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    {% block header %}{% endblock %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light" dir="rtl">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/"><span style="color: red;">نیو</span>کالا</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if request.user.is_authenticated %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'item:addnewitem' %}">افزودن کالا</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'item:addnewitem' %}">سبد خرید</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">دسته بندی ها</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" dir="rtl">
                                {% block categorys %}
                                {% endblock %}
                            </ul>
                        </li>
                    </ul>
                {% endif %}

                {% if request.user.is_authenticated %}
                    <form class="d-flex">
                        <a href="{% url 'dashboard:index' %}" class="btn btn-outline-dark">داشبورد</a>
                    </form>
                {% else %}
                    <form class="d-flex">
                        <a href="{% url 'core:signup' %}" class="btn btn-outline-dark">ثبت نام</a>
                    </form>
                    <form class="d-flex">
                        <a href="{% url 'core:login' %}" class="btn btn-outline-dark">ورود</a>
                    </form>
                {% endif %}
            </div>
        </div>
    </nav>

    
    
    <div >
        {% block content %}
        {% endblock %}
    </div>

    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white" dir="rtl">همه اطلاعات نیوکالا محفوظ است و فقط زیر نظر شرکت FATHI اداره میشود</p>
        </div>
    </footer>
</body>
</html>